<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Configuración SIMPLE sin iisnode - IIS solo hace proxy reverso -->
    <!-- Node.js debe estar corriendo (PORT en .env, ej. 3001; debe coincidir con la regla siguiente) -->
    
    <rewrite>
      <rules>
        <!-- Servir archivos estáticos directamente -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^(uploads|node_modules)/.*" />
          <action type="None" />
        </rule>
        
        <!-- Redirigir todo a Node.js (que debe estar corriendo) -->
        <rule name="NodeApp" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3001/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
